.profile-area {
  margin: 5em auto;
  .divider {
    width: 85%;
    margin: 2em auto;
    height: 2px;
    // background-color: #eee;
  }
}

.loading {
  text-align: center;
  margin-top: 3em;
}

.user-quote {
  padding: 2em 0;
  max-width: 768px;
  text-align: center;
  margin: auto;
}
